<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrej.vix">

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Choice" />
        <activity android:name=".FunkySetup1" />
        <activity android:name=".FunkySetup2" />
        <activity android:name=".FunkySetup3" />
        <activity android:name=".FunkySetup4" />
        <activity android:name=".Results"></activity>
    </application>

</manifest>